@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #fde047;
  transition: 0.3s;
}

.images {
  grid-template-areas:
    "image-1 image-1 image-2 image-2"
    "image-1 image-1 image-5 image-3"
    "image-4 image-4 image-5 image-6";
}
.images .image-1 {
  grid-area: image-1;
}
.images .image-2 {
  grid-area: image-2;
}
.images .image-3 {
  grid-area: image-3;
}
.images .image-4 {
  grid-area: image-4;
}
.images .image-5 {
  grid-area: image-5;
}
.images .image-6 {
  grid-area: image-6;
}
